<?xml version="1.0"?>
<phpunit
  bootstrap="Tests/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  >
  <testsuites>
    <testsuite>
      <directory suffix=".php">./Tests/</directory>
      <exclude>./tests/bootstrap.php</exclude>
      <exclude>./tests/AbstractTestCase.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
